@using Domain.Enums
@model Framework.CQRS.Query.Setting.AboutViewModel
@{
    ViewData["Title"] = "درباره ما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xl-12 col-lg-12 col-md-12 " style="margin-bottom: 60px;">
    <nav aria-label="breadcrumb">
        <ol class="lh-1-85 breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">خانه</a>
            </li>

            <li class="breadcrumb-item active text-pink">    درباره ما </li>
        </ol>
    </nav>@await Component.InvokeAsync("SliderComponent",PositionEnum.About)

    <div class="card overflow-hidden">
        <div class="card-body">
           
            <h4 class="d-flex align-items-center mt-2 mb-4 text-pink">
               
                درباره ما
            </h4>
            <p>
                @Html.Raw(Model.About)          </p>
            
        </div>
        <div class="row text-center justify-content-center gap-sm-0 gap-3 p-3 mb-5">
            <div class="col-sm-6">
                <div class="py-3 rounded alert-primary text-center">
                    <span class="badge bg-label-primary rounded-3 p-2 my-3">
                        <i class="bx bx-phone bx-sm"></i>
                    </span>
                    <h4 class="mb-2"><a class="h4" href="tel:@Model.Number" dir="ltr">@Model.Number</a></h4>
                    <p>ما همیشه خوشحالیم که به شما کمک کنیم</p>
                </div>
                <div class="text-center">
                  @Model.Enamad
                  </div>
            </div>
            <div class="col-sm-6">
                <div class="py-3 rounded alert-primary text-center">
                    <span class="badge bg-label-primary rounded-3 p-2 my-3">
                        <i class="bx bx-envelope bx-sm"></i>
                    </span>
                    <h4 class="mb-2"><a class="h4" href="@Model.Email">@Model.Email</a></h4>
                    <p>بهترین راه برای دریافت یک پاسخ سریع</p>
                </div>
            </div>
        </div>
    </div>
</div>