@using Framework.ViewModels.Skill
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Framework.Common
@model Framework.CQRS.Command.Master.Introduction.UpdateIntroductionCommand
@{    ViewData["Title"] = "ویرایش آگهی اشتراک گذاری";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 breadcrumb-wrapper mb-4">
        <span class="text-muted fw-light">  آگهی و درخواست/</span> ویرایش آگهی اشتراک گذاری
    </h4>

    <div class="row">
        <div class="col-md-12">
            @if (ViewBag.Alert != null)
            {
                <div class="alert alert-warning alert-dismissible d-flex align-items-center" role="alert">
                    <i class="bx bx-xs bx-wallet me-2"></i>
                    @ViewBag.Alert
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            <div class="card mb-4">
                <h5 class="card-header heading-color">ویرایش آگهی </h5>
                <form asp-area="Admin" asp-controller="Introduction" asp-action="Edit" enctype="multipart/form-data">
                    <div class="card-body">

                        <div class="row">


                            <div>
                                <div class="classic col col-sm-3 col-lg-2 mt-3">

                                    @if (Model.IntroductionImage == "default.jpg")
                                    {
                                        <img src="~/img/@Model.IntroductionImage" width="150" height="110" id="imagePath_1" class="d-block flex-shrink-0 rounded-circle me-sm-3 me-0" />

                                    }
                                    else
                                    {
                                        <img src="~/Introduction/@Model.IntroductionImage" width="150" height="110" id="imagePath_1" class="d-block flex-shrink-0 rounded-circle me-sm-3 me-0" />

                                    }



                                    <label class="form-label mb-3">تصویر </label>
                                    <input onchange="ChangeImage(this,1)"
                                           id="image_1" asp-for="IntroductionImageFile" type="file" class="form-control" />
                                   
                                </div>
                            </div>
                            <div class="mb-3 col-lg-4 col-xl-4 col-12">
                                <label class="form-label" for="basic-default-fullname">عنوان آگهی</label>
                                <input type="text" asp-for="IntroductionTitle" class="form-control " id="title" placeholder="عنوان آگهی">

                                <span class="text-danger" asp-validation-for="IntroductionTitle"></span>
                            </div>
                            <div class="mb-3 col-lg-4 col-xl-4 col-12">
                                <label class="form-label" for="basic-default-company">شماره تماس</label>
                                <input type="tel" asp-for="IntroductionPhoneNumber" class="form-control " id="phone" placeholder="09**********">
                                <span class="text-danger" asp-validation-for="IntroductionPhoneNumber"></span>
                            </div>

                            <div class="mb-3 col-lg-4 col-xl-4 col-12">
                                <label for="TagifyBasic" class="form-label"> وضعیت </label>
                                <select asp-for="Condition"
                                        class="select2 form-select form-select-lg select2-hidden-accessible" 
                                        asp-items="Html.GetEnumSelectList<ConditionViewMode>()"
                                   >
                                </select>
                            </div>


                            <div class="mb-3 col-lg-6 col-xl-6 col-12">
                                <label class="form-label" for="basic-default-company">انتخاب مهارت ها</label>
                                <select id="Skill" name="Skills"
                                        class="select2 form-select-sm form-select select2-hidden-accessible"
                                        multiple="" tabindex="-1" aria-hidden="true">


                                    @foreach (var item in (List<SkillViewModel>)@ViewBag.list)
                                    {
                                        @if (Model.Skills.Any(a => a.Equals(item.Id)))
                                        {
                                            <option selected="selected" value="@item.Id">@item.SkillName</option>
                                        }
                                        else
                                        {
                                            <option  value="@item.Id">@item.SkillName</option>
                                        }
                                    }
                                </select>

                            </div>
                            <div class="mb-3 col-lg-6 col-xl-6 col-12">
                                <label class="form-label">انتخاب منتشر کننده</label>
                                <div class="position-relative">
                                    <select asp-items="@ViewBag.Users" class="form-select  search-j2" asp-for="UserId">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="description">توضیحات</label>
                            <textarea id="description" class="form-control form-control-sm" asp-for="IntroductionDescription"
                                      rows="4" placeholder="توضیحات را اینجا بنویسید"></textarea>
                        </div>

                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="IntroductionImage" />


                        <div class="mt-3">
                            <button type="submit" class="btn btn-sm btn-primary">ثبت</button>
                            <a asp-area="Admin" asp-controller="Introduction" asp-action="Index" class="btn btn-sm btn-warning text-white">بازگشت</a>
                        </div>


                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
@section Style
    {
    <link rel="stylesheet" href="~/assets/vendor/libs/bs-stepper/bs-stepper.css">
    <link rel="stylesheet" href="~/assets/vendor/libs/bootstrap-select/bootstrap-select.css">
    <link rel="stylesheet" href="~/assets/vendor/libs/select2/select2.css">
}
@section Scripts
    {
    <script src="~/assets/vendor/libs/bootstrap-select/bootstrap-select.js"></script>

    <script src="~/assets/vendor/libs/select2/select2.js"></script>
    <script src="~/assets/js/forms-selects.js"></script>
}