@using Framework.ViewModels.Category
@model Framework.ViewModels.User.UserCategoryViewModel
@{
    ViewData["Title"] = "دسته بندی های کاربر";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 breadcrumb-wrapper mb-4">
        <span class="text-muted fw-light">
            احراز هویت /
        </span> دسته بندی فعالیت کاربر
    </h4>

    <div class="row">
        <div class="col-md-12">
            @if (ViewBag.Alert != null)
            {
                <div class="alert alert-warning alert-dismissible d-flex align-items-center" role="alert">
                    <i class="bx bx-xs bx-wallet me-2"></i>
                    @ViewBag.Alert
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            <div class="card mb-4">
                <h5 class="card-header heading-color">   دسته بندی فعالیت کاربر</h5>
                <form asp-area="Admin" asp-controller="User" asp-action="SetCategories">
                    <div class="card-body">
                        <input type="hidden" asp-for="UserId" value="@ViewBag.User"/>


                        <div class="mb-3 row">
                            <label for="select2Primary" class="col-md-2 col-form-label">دسته بندی ‌های کاربر</label>
                            <div class="select2-primary col-md-10">
                                <div class="position-relative">
                                    <select id="select2Primary" name="CategoryIds" class="select2 form-select select2-hidden-accessible"
                                            multiple="" tabindex="-1" aria-hidden="true">

                                        @if (ViewBag.Categories != null)
                                        {


                                        @foreach (var item in (ViewBag.Categories as IEnumerable<CategoryViewModel>)!)
                                        {
                                            @if (Model.CategoryIds!.Any())
                                            {
                                                if (Model!.CategoryIds!.Any(a=>a.Equals(item.Id)))
                                                {

                                                    <option value="@item.Id" selected="selected">@item.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            }
                                            else
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                            }
                                        }
                                    </select>

                                </div>

                            </div>
                        </div>
                        <div class="mt-3">
                            <button type="submit" class="btn btn-sm btn-primary">ثبت</button>
                            <a asp-area="Admin" asp-controller="User" asp-action="Index" class="btn btn-sm btn-warning text-white">بازگشت</a>
                        </div>


                    </div>
                </form>
            </div>
        </div>

    </div>
</div>