@model List<Framework.CQRS.Query.Admin.User.UserAdvertises>
<div class="row g-4 mb-5">
   @foreach (var item in Model)
   {
        <div class="col-xl-4 col-lg-6 col-md-6 mb-3">
            <div class="card">
                <div class="card-body text-center">
                   
                    <div class="mx-auto mb-3">
                        @if (item.Image == "default.jpg")
                        {
                            <img src="~/img/default.jpg" alt="Avatar Image" class="rounded-circle w-px-100">
                        }
                        else
                        {
                            <img src="@item.Image"  class="rounded-circle w-px-100">

                        }
                    </div>
                    <h5 class="mb-1 card-title primary-font"> @item.Title</h5>
                    <span class="lh-1-85 text-primary mb-3">@item.Type </span>
                    
                    <div class="d-flex align-items-center justify-content-center">
                        
                        @switch (item.sysId)
                        {
                            case 0:
                                <a 
                                    asp-controller="Advertising" asp-action="IntroductionDetail" asp-route-id="@item.Id"
                                    class="btn btn-pink btn-sm text-white d-flex align-items-center me-3">
                                    مشاهده آگهی
                                </a>
                                break;
                                 case 1:
                                     <a 
                                         asp-controller="Advertising" asp-action="PlacementDetail" asp-route-id="@item.Id"
                                         class="btn btn-pink btn-sm text-white d-flex align-items-center me-3">
                                         مشاهده آگهی
                                     </a>
                                break;
                                 case 2:
                                     <a 
                                         asp-controller="Advertising" asp-action="RecruitmentDetail" asp-route-id="@item.Id"
                                         class="btn btn-pink btn-sm text-white d-flex align-items-center me-3">
                                         مشاهده آگهی
                                     </a>
                                break;
                                
                        }

                       
                    </div>
                </div>
            </div>
        </div>
   }
  
</div>