@model Application.Models.PaginatedList<Framework.CQRS.Query.Contact.Contact>
@{
    ViewData["Title"] = "پیام های ارتباطی";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 breadcrumb-wrapper mb-4">
        <span class="text-muted fw-light"> سایر/</span> پیام های ارتباطی
    </h4>

    <!-- DataTable with Buttons -->
    <div class="card">
        <div class="card-datatable p-2">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                <div class="card-header flex-column flex-md-row">

                    <div class="row ">


                        <div class="col-6  justify-content-md-end">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="جستجو..." aria-label="Recipient's username with two button addons">
                                <button class="btn btn-primary" type="button">
                                    <i class="bx bx-search me-sm-1"></i>
                                </button>
                                <a class="btn btn-warning text-white">  <i class="bx bx-trash me-sm-1"></i></a>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>

                                <th> عنوان پیام</th>


                                <th>پیام</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">


                            @foreach (var item in Model.items)
                            {
                                <tr id="item_@item.Id">



                                    <td>@item.Title</td>


                                    <td>
                                        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#smallModal_@item.Id">
                                            مشاهده پیام
                                        </button>
                                    </td>

                                    <div class="modal  " id="smallModal_@item.Id" tabindex="-1" aria-modal="true" role="dialog" style="display: none;">
                                        <div class="modal-dialog modal-sm" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title secondary-font" id="exampleModalLabel2">جزئیات پیام</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                   <label>فرستنده:<strong>@item.FullName</strong></label>
                                                    <label>شماره تماس:<strong>@item.PhoneNumber</strong></label>
                                                    <p>@item.Message</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                                                        بستن
                                                    </button>
                                                  
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="card-footer">
                    <div class="col-lg-6">
                        <nav class="pagination"
                             data-page-index="@Model.pageIndex"
                             data-total-pages="@Model.totalPages"
                             data-path="/Admin/Contact/Index"></nav>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>



