@model Application.Models.PaginatedList<Framework.CQRS.Query.Article.ArticleOfCategory>
@{
    ViewData["Title"] = "لیست مقالات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row mb-5">
    <nav aria-label="breadcrumb">
        <ol class="lh-1-85 breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">خانه</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-controller="Blog" asp-action="BlogCategory">دسته بندی مقالات</a>
            </li>
            <li class="breadcrumb-item active text-pink"> @ViewBag.Name  </li>
        </ol>
    </nav>
   
   
    @foreach (var item in Model.items)
    {
        <div class="col-md-6 col-lg-3 mb-3">
            <a asp-controller="Blog" asp-action="BlogDetail" asp-route-id="@item.Id">

            <div class="card h-100">
                @if (item.ArticleImage == "default.jpg")
                {

                    <img class="card-img-top" height="200" src="~/img/@item.ArticleImage" alt="Card image cap">
                }
                else
                {
                    <img class="card-img-top" height="200" src="~/ArticleImage/@item.ArticleImage" alt="Card image cap">
                }
                <div class="card-body">
                    <h5 class="card-title">@item.ArticleTitle</h5>

                    <a asp-controller="Blog" asp-action="BlogDetail" asp-route-id="@item.Id" class="btn btn-pink btn-sm text-white "> مشاهده مطلب</a>
                    <p class="card-text">
                        <small class="text-muted">@item.ConvertToPersianDate(item.CreateTime)</small>
                    </p>
                </div>
            </div>
            </a>

        </div>
    }
    @if (Model.totalPages > 1)
    {
        
            <div class="col-lg-6">
                <nav class="pagination"
                 data-parent="@ViewBag.Parent"
                 data-name="@ViewBag.Name"
                     data-page-index="@Model.pageIndex"
                     data-total-pages="@Model.totalPages"
                     data-path="/Blog/Blogs"></nav>
            </div>
      
    }
</div>